<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <div class="main-content">
        <h1>{{title}}</h1>
        {{>header}}
        <p>This Site is created by Rewati Raman</p>
        <h1>{{title}}</h1>
    </div>
    {{>footer}}
</body>

</html>