<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <div class="main-content">
        <h1>{{title}}</h1>
        {{>header}}
        <div> <img class="img"
                src="https://avatars3.githubusercontent.com/u/22153611?s=400&u=b3a15100daee40694c0eaa97ad80ec6fe500379a&v=4"
                alt=""></div>
        <div>
            <form action="">
                <input type="text" placeholder="Type location..">
                <button>Search</button>
            </form>
            <div id="value" style="border: 1px solid; height: 100px ; 
            width: auto; margin-top: 2px;"></div>
        </div>
    </div>

    {{>footer}}
    <script src="./js/app.js"></script>
</body>

</html>